#commands,
#drop-zone {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.command {
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: move;
}


#drop-zone {
    margin-top: 50px;
    padding: 50px;
    border: 2px dashed grey;
}

#feedback {
    margin-top: 20px;
}