body {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    height: 100%
}

#myBtn,
#music-toggle {
    position: fixed;
    top: 20px;
    z-index: 9999;
}

#myBtn {
    right: 130px;
}

#music-toggle {
    right: 20px;
}

@media (max-width:576px) {

    /* Button */
    #myBtn {
        right: 363px;
        top: 26px;
    }

    /* Music toggle */
    #music-toggle {
        right: 12px;
        top: 28px;
    }

}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
}

span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1.3vw;
}

main {
    backdrop-filter: blur(8.99px);
    background: rgba(black, 0.66);
    color: white;
    position: relative;
    padding: 1rem;
    text-align: center;
}

#commands,
#drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.command {
    margin: 5px;
    padding: 10px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: move;
}


#drop-zone {
    margin-top: 50px;
    padding: 50px;
    border: 2px dashed grey;
}

#feedback {
    margin-top: 20px;
}